* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
}

#button {
    padding: 12px 24px;
    color: black;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    background: linear-gradient(#e5e5e5, #219ebc);
    border-radius: 10px;
}

button:active {
    transform: scale(0.95);
}

#button:hover {
    background: linear-gradient(#219ebc, #e5e5e5);
}