* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient(#cdb4db, #fefae0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.quote-text {
    font-size: 1.75rem;
}

.long-quote {
    font-size: 2rem;
}

.quote-author {
    margin-top: 15px;
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
}

button {
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 10px;
    font-family: sans-serif;
    color: #fff;
    background-color: black;
    cursor: pointer;


}

button:hover {
    color: black;
    background-color: white;
}

button:active {

    transform: scale(0.95);
}